
<ion-view class="walkthrough-view" cache-view="false">
	<div class="walkthrough">

		<device-slider device="iphone5 white">
			<ion-slide-box>
				<ion-slide>
                <div class="bar bar-header bar-balanced">
                    <h1 class="title">LOGIN</h1>
                </div>
			      <div class="imgdiv">
                  <img src="img/hello.png" alt="">
                  <h3>Welcome to join us!</h3>
                  
                  </div> 
                  
				</ion-slide>
				<ion-slide>
                  <div class="bar bar-header bar-balanced">
                    <h1 class="title">LOGIN</h1>
                    </div>
					<div class="row slide-head">
						<div class="col col-center">
             
						lorem impsum
						</div>
					</div>
                     
				</ion-slide>
                
				
				
				
			</ion-slide-box>
            <div class="bar bar-footer bar-balanced" ng-controller="Social">
                <div class="title" ng-click="fblogin()">
                    <i class="start icon ion-social-facebook"></i>
                         Login with Facebook
                </div>
             </div>
           
		</device-slider>
    
</ion-view>